{{*{
    margin: 0;
    padding: 0;
}
:root{
    --primary:#37517E;

}
body{
   // background: var(--primary);
}
.animate-image{
   // animation:move 2.5 linear infinite alternate-reverse;
}

.animate-image
    {
   
   
    animation:mymove 1s linear infinite alternate-reverse;
  }
  
  @keyframes mymove {
    from 
    {
       
        transform:translateY(0);
    }
    to {
       
        transform:translateY(-20px);
    } 
/*
    0%{
        transform:translateY(0);
    }
    20%{
        scale:1.5;
        transform:translateY(40deg);
        transform:rotate(360deg):
        
    }
    50%
    {
        background:aqua;
        padding: 40px;

    }
    100%{
       background-color: blue;
       filter: blur(30px);
    }
*/

  }

  .blackandwhite{
    filter:grayscale(100%);
    transition: all 0.5;
    cursor:pointer;
  }
  .blackandwhite:hover{
    scale:1.1;
    filter:grayscale(0%);

  }
  .aboutus{
    color:var(--primary);
  }

nav{
    background:var(--primary);
}  
main{
    background:var(--primary);
}
.underline{
    width:12%;
    height: 3px;
    background: var(--bs-gray-300);
    margin:auto;
    position: relative;
}

.blueline{
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:20%;
    height: 3px;
    background:var(--bs-info);
    position:absolute;
}
.headingcolor{
    color:var(--primary);
}
.rowbar{
    color:var(--primary);
}
.barcolor{
    background: var(--primary);
}
.whiterect{
   // width:23%;
   // height:200px;
    background:white;
}
.callToAction{
    background: var(--primary);
    background-image: url("https://themewagon.github.io/arsha/assets/img/cta-bg.jpg");
}
.cardwhite{
    transition: all 1s;
} 

.whiterect:hover{
    
}
.callActionBg{
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("https://themewagon.github.io/arsha/assets/img/cta-bg.jpg") fixed center center;
    background-size: cover;
    //padding: 120px 0;
}
.roundclass{
    width:500px;
    height:500px;
    border-radius: 50%;
    background: blue;
    font-size: large;
}
.socialCircle{
    width: 30px;
    height: 30px;
    background-color: #F3F5FA;
    transition: all 1s;
    cursor: pointer;
    color:var(--primary);
    

}
.socialCircle:hover{
    background-color:#47B2E4;
    color:white;

}
.socialBg
{
  //  color:var(--primary);
  
}
.cardTeam{
   
    transition: all 1s;
}
.cardTeam:hover{
   // background: red;
   transform: translateY(-8px);
}
.iconcolor{
    color:#88CDEE;
}



.serviceheading:hover{
    color:#88CDEE;

}

.cardServ{
    transition: all 1s;
  //  cursor: pointer;
}

.cardServ:hover{

    transform: translateY(-10px);

}
.faqAcc{
 
   
}


.faqAcc:focus{
    background-color:white;
    border: none;
    outline: none;
   // border-color: red;

}
.accordion-button:focus {
    //background: red;
    box-shadow: none; !important
    border-color: rgba(0,0,0,.125);  !important
}
.accordion-button{


   // background:red;
   color:var(--primary);
    border: none;important
    outline: none;important
    box-shadow: none; !important
 


}

.accordion-item
{
 //   background: #37517E;
    border: none; !important
    outline: none; !important
    box-shadow: none; !important

}

.accordion-button:not(.collapsed){
   background:white;!important;
   border: none; !important
   outline: none; !important
   box-shadow: none; !important
   margin: 0;!important
   padding: 0;!important
}

.accordion .card {
    border: none; /* Remove the card border to eliminate spacing */
}
.accordion .card-header {
    padding: 0; /* Remove padding to eliminate spacing */
}

.contactCardCir{

    width: 30px;
    height: 30px;
    background-color: #F3F5FA;
    border-radius: 50%;
}
